:root {
    --text-color: #111;
    --text-light-color: #777;
    --text-accent-color: #cc2a42;
    --text-small-size: 0.75rem;
    --text-regular-size: 1rem;
    --text-large-size: 1.35rem;
    --text-larger-size: 1.75rem;

    --text-light: 300;
    --text-normal: 400;
    --text-heavy: 600;
    --text-heavier: 600;

    --line-normal: 1.25rem;
    --line-high: 1.75rem;
    --line-higher: 2rem;
}

html body {
	display: flex;
	flex-direction: column;

	height: 100%;
	max-width: 48rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 4rem;

	scroll-behavior: smooth;

	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
	font-size: var(--text-regular-size);
	line-height: var(--line-normal);
	font-weight: var(--text-normal);
	color: var(--text-color);
}

main {
    display: 1 1 0%;
}

ul {
    list-style-type: circle;
}

pre {
    overflow-x: auto;
}

a {
    color: var(--text-accent-color);
    text-decoration-line: underline;
    &:hover {
        color: var(--text-color);
    }
}

h1 {
	font-size: var(--text-larger-size);
	font-weight: var(--text-heavier);
	line-height: var(--line-higher);

	&:before {
        content: "#";
        color: var(--text-accent-color);
        margin-right: 1rem;
    }
}

h2 {
	font-size: var(--text-large-size);
	font-weight: var(--text-heavy);
	line-height: var(--line-high);
}

.text-accent {
    color: var(--text-accent-color);
}

.text-light {
    color: var(--text-light-color);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

content-component {
  animation: 0.1s fade-in;
}
