.posts-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
}

.posts-description {
}

.posts-article {
}

.posts-link {
    font-weight: 500;
    &:hover {
        text-decoration-line: underline;
    }
}
