.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #777;
    font-size: 0.75rem;

    @media (max-width: 640px) {
        flex-direction: column;
    }
}

.footer-copyright {
}

.footer-menu {
}

.footer-menu-entity {
	padding: 0.5rem;
	&:hover {
	    text-decoration-line: underline;
    }
}

.footer-contacts {
}

.footer-contacts-icon {
    width: 1rem;
    height: 1rem;
}

.footer-contacts-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contacts-entity {
    padding: 0.5rem;
}
