:root {
    --text-color: #111;
    --text-light-color: #777;
    --text-accent-color: #cc2a42;
    --text-small-size: 0.75rem;
    --text-regular-size: 0.875rem;
    --text-large-size: 1.5rem;
    --text-larger-size: 2rem;
}

html body {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	max-width: 48rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 4rem;

	scroll-behavior: smooth;

	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
	font-size: var(--text-regular-size);
	line-height: 1.25rem;
	font-weight: 400;
	color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration-line: underline;
    &:hover {
        color: var(--text-accent-color);
    }
}

ul {
    list-style-type: none;
}

pre {
    overflow-x: auto;
}
