.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2rem;
}

.header-menu {
    top: 3.5rem;
    row-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-menu-entity {
	padding: 1rem;
	&:hover {
	    text-decoration-line: underline;
    }
}